@font-face {
    font-family: 'Archangelsk';
    src: local('../fonts/Archangelsk.ttf'), url('../fonts/Archangelsk.ttf');
}
@font-face {
    font-family: 'roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}

.title {
    font-family: 'Archangelsk', sans-serif;
    font-size: 62px;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 1280px;
}

.header {
    position: absolute;
    z-index: 15;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container__logo {
    margin-top: 20px;
}

.header-container__media {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin: 0;
}

.header-container__media li {
    margin: auto 0 auto 40px;
    list-style: none;
}

.banner {
    margin: 0;
    padding: 0;
    background-image: url("../media/firstpic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    position: relative;
}

.banner-content {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.content__block {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    height: 369px;
    width: 624px;
    background-color: #F8F200;
}

.cute {
    clip-path: polygon(8% 0, 70% 0%, 100% 0, 100% 86%, 92% 100%, 30% 100%, 0 100%, 0 12%);
}

.banner-text p {
    padding: 70px 70px 25px 70px;
}

.banner-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    height: 78px;
    width: 272px;
    background-color: black;
    text-align: center;
    margin: 0 70px;
}

.banner-button a {
    color: #F8F200;
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-direction: column;
}
.main-container__description {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 34px;
    max-width: 952px;
}

.main-container__description p{
    color: #777777;
    font-weight: normal;
}

.main-container__description a{
    text-decoration: none;
    color: #52BEDC;
}

.main-container__media {
    display: flex;
    margin-top: 70px;
    flex-direction: row;
    justify-content: space-between;
}

.main-container__media--firstblock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container__title {
    margin-top: 70px;
}

.play {
display: flex;
    flex-direction: column;
}

.play-shading__top {
    box-sizing: border-box;
    height: 70px;
    background-image: url('../media/shadowtop.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
}

.play-container {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.play-content__promo {
    display: flex;
    align-items: flex-end;
    margin: 15px 0 25px;
}

.play-content__title {
    margin: 0 32px 13px;
    color: white;
}

.play-content__description {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    max-width: 952px;
    line-height: 34px;
    font-weight: 400;
}

.play-content__description a{
    text-decoration: none;
    color: #52BEDC;
    font-weight: 500;
}

.play-content__position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.play-content__form {
    display: flex;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 460px;
}

.form-content input{
    all: unset;
    border-bottom: #777777 solid 1px;
    margin: 35px 0 0;
}

.form-content input::placeholder {
    color: white;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.form-dragdrop {
    background-image: url("../media/dragbackgroung.svg");
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 120px;
    margin: 35px 0;
}
.form-dragdrop p {
    color: white;
}

.play-content__image {
    background-repeat: no-repeat;
}

.form-dragdrop__content {
    margin: 39px auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: lighter;

}

.form-dragdrop__screen {
    text-decoration: underline;
    font-size: 18px;
}

.form-button {
    background-color: #F8F200;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 19px 50px;
    width: 192px;
    border: none;
}

.form-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
}

.form-checkbox input{
    width: 20px;
    height: 20px;
    border: #777777 solid 1px;
    margin: auto 10px auto 0;
    color: white;
    cursor: pointer;
    align-items: center;
}

.form-checkbox input:checked {
    background-image: url("../media/checked.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}